#-----------------excluded files and folder----------------#
#IDE files
*/.idea
/.idea

#Test videos - You may copy your own test videos here or you can use the camera directly
/*/TestVideos/*.mp4

*/__pycache__